/*LoginPage*/

.BodyLoginPage{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.BodyLoginPage>h1{
    font-size: 2em;
}

.FormLoginPage{
    margin-top: 2em;
    padding: 1em;
    background-color: var(--Second-Color);

    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormLoginPage > label{
    
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
}

.FormLoginPage > label > h3{
    font-size: 1.5em;
    color: var(--Stand-Color);
}

.FormLoginPage > label > input{
    padding: 0.5em;
    font-size: 1.2em;
    border: 0;
    border-radius: 0.2em;
}

.FormLoginPage > input {
    width: 100%;
    border: 0;
    border-radius: 0.5em;

    font-size: 1.2em;
    padding: 0.4em;
}

.FormLoginPage > input:hover{
    cursor: pointer;
}

/*/\--------LoginPage---------/\*/


/*Pagina Funcionario*/

.PedidosFeitosDIV{
    width: 80%;
    padding: 1em;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5em 0 0.5em 0;
}

.PedidosFeitosDIV>h1{
    text-align: center;
}

.BttEditor{
    padding: 0.5em;
    border: 0;
    font-size: 1.2em;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border-radius: 0.5em;
    margin-top: 0.4em;
}

.BttEditor:hover{
    cursor:pointer;
}

.ULPedidos{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.CaixaPedido{
    width: 90%;

    background-color: var(--Stand-Color);
    color: var(--Second-Color);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5em;
    border-radius: 0.5em;

    margin: 0.4em 0 0.4em 0;

    list-style: none;
}

.H1Pedido{
    text-align: center;
}

.EstadoPedidoDiv{
    width: 100%;
}

.UlEstadoPedido{
    display: flex;
    justify-content: center;

    list-style: none;

    width: 100%;
}



.EstadoIten{
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0 0.1em 0 0.1em;

    cursor: pointer;
}

.SelectedEstado{
    background-color: green;
    color: black;
}

.ItensBox{
    width: 100%;
}



.UlItens{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    list-style: none;
}

.UlItens li:last-child{
    border-radius: 0 0 0.5em 0.5em;
}

.ItensTag{
    display: flex;
    justify-content: space-evenly;

    background-color: var(--Second-Color);
    color: var(--Stand-Color);

    border-radius: 0.5em 0.5em 0 0;

    width: 80%;
    padding: 0.4em 0 0.4em 0;
    margin-bottom: 0.2em;
    
}

.ItemPedido{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: baseline;

    margin: 0.2em;

    width: 80%;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
}

.QuantiIten{

    background-color: var(--Stand-Color);
    color: var(--Second-Color);

    height: 100%;
    padding: 0.4em;
    border: 1px solid black;
}

.ValorTotalPedido{
    font-size: 1.2em;
}


.UpdateStado{
    display: flex;
}


/*/\ -------- FuncPage ------------- /\*/


/*-------------EditPage--------------------*/


.ShowConjuntoItem{
    margin: 1em;
    padding: 0.6em;
    background-color: var(--Second-Color);
    border-radius: 0.5em;

    width: 80%;
}

.ConjuntoEdit{
    width: 100%;
}

.ConjuntoEdit > .boxConjuto:last-child{
    margin-bottom: 0;
}

.boxConjuto{
    background-color: var(--Stand-Color);
    padding: 0.5em;

    margin-bottom: 1.5em;

    text-align: center;
}

.UlItems{
    list-style: none;
}

.ItemPratoEdit{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 100%;
}

.CaixaPratoGridElement{
    display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        min-width: 100%;
}

.TextAreaDesc{
    width: 100%;
    height: 80%;
    max-width: 100%;
    max-height: 80%;

    padding: 0.4em;
}

.IngedientesList{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.IngedientesList > li:last-child{
    margin-bottom: 0;
}

.ItemIngredientList{
    margin-bottom: 0.2em;
}

.AltConjuntItem{
    margin-bottom: 0.5em;
}

.DescricaoResulmoCaixa{
    margin-bottom: 1.5em;
}


.titulo-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .edit-icon {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: white; /* Ajuste conforme o design */
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    
    transition: opacity 0.3s ease-in-out;
  }

  .BoxEditConjunto{
    width: 80%;

    background-color: var(--Stand-Color);
    border-radius: 0.5em;
    pad: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }
  
  .CloseConjunt{
    position: absolute;
    background-color: brown;
    border-radius: 50%;
    color: white;
    right: -14px;
    top: -10px;
  }

  .CloseConjunt:hover{
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .edit-icon {
      display: block;
    }
  }

  .DeletItemPoPup{
    background-color: var(--Second-Color);
    padding: 0.8em;
    
    border: 1px solid var(--Stand-Color);
    border-radius: 0 0 0.5em 0.5em;

  }

  .DeletItemPoPup > h1{
    color: var(--Stand-Color);
    font-size: 1.1em;
  }

  .BTNeditPratoDelete{
    border: 0;
    border-radius: 0.5em;
  
    background-color: greenyellow;
    color: var(--Second-Color);
  
    width: 100%;
    padding: 0.7em;
  
    bottom: 0;
    margin-bottom: 0.4em;
  }

  .BTNeditPratoDelete:hover{
    cursor: pointer;
  }

  .DeletItemBtnHamdler{
    display: flex;
    justify-content: space-around;

    width: 100%;

    margin-top: 0.4em;
  }
  
  .DeletItemBtnHamdler > button{
    background-color: var(--Stand-Color);
    color: var(--Second-Color);
    
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid var(--Stand-Color);
  }

  .DeletItemBtnHamdler > button:hover{
    cursor: pointer;
  }

  .ConjuntoTittleEdit{
    width: 100%;
  }

  .ConjuntoTittleEdit > input{
    width: 80%;
    
    text-align: center;
    font-size: 0.9em;
    
    padding: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;

    border-radius: 0 0 0.5em 0.5em;
    border: 2px solid black;
  }

  .UlPrato{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LiPrato{
    display: flex;
    flex-direction: column;

    background-color: var(--Second-Color);
    color: var(--Stand-Color);

    border-radius: 0.5em;
    margin-bottom: 0.5em;

    position: relative;
  }

  .LiPrato > h1{
    font-size:1em;
    padding: 0.3em 0 0.3em 0;
  }

  .RemoverConjH2{
    width: 100%;
    
    padding: 0;
    margin: 0;
  }

  .RemoverConj{
    background-color: brown;
    color: var(--Stand-Color);

    margin: 0;
    border-radius: 50%;

    position: absolute;
    top: -6px;
    right: -8px;
    width: 20px;
    height: 20px;
  }

  .RemoverConj:hover{
    cursor: pointer;
  }

  .AdiconarConj{
    background-color: greenyellow;
    color: var(--Second-Color);
    height: 100%;
    margin: 0;
    padding: 0.2em;

    font-size: 0.8em;
    border-radius: 0 0 0.5em 0.5em;
  }

  .SectionChoseNewOptConjunt{
    padding: 1em;
    background-color: var(--Stand-Color);
    color: var(--Second-Color);

    border-radius: 0.5em;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 16%;

    position: relative;
}

.boxConjuTop{

    background-color: var(--Stand-Color);
    padding: 0.5em  0  0.5em 0;

    margin-bottom: 1.5em;

    text-align: center;

    width: 100%;
    display: flex;
    justify-content: space-around;
}

.BttEditOpen{
    padding: 0.5em;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border: 1px solid var(--Stand-Color);
    border-radius: 0.5em;

    font-size: 1em;
}

.BttEditOpen:hover{
    cursor: pointer;
}

.FormEditBox{
    height: 100%;
    width: 65%;

    display: flex;
    flex-direction: column;

    padding: 0.5em;
}
.InputEditBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    min-width: -webkit-fill-available;
    
    padding: 0.4em;
    border: 1px solid black;
}

.LabelInput > h1{
    margin-bottom: 0.5em;
}

.InputBTN{
    width: 100%;
    padding: 0.5em;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border: 0;

    margin-top: 0.5em;
}

.InputBTN:hover{
    cursor: pointer;
}

.CloseConjuntEdit{

    position: absolute;
    background-color: brown;
    border-radius: 50%;
    color: white;
    right: -11px;
    top: -9px;
    width: 6%;
    height: 20%;

}

.CloseConjuntEdit:hover{
  cursor: pointer;
}

.CloseConjuntEditPrato{
    position: absolute;
    background-color: brown;
    border-radius: 50%;
    color: white;
    right: -11px;
    top: -9px;
    width: 6%;
    height: 5%;
}
.CloseConjuntEditPrato:hover{
    cursor: pointer;
  }

.IngDiv{
    display: flex;
}

.IngInput{
    border: 1px solid black;
    padding: 0.3em 0.1em 0.3em 0.1em;

    
}

.IngBtn{
    background-color: var(--Second-Color);
    color: var(--Stand-Color);
    border: 1px solid var(--Stand-Color);

    padding: 0.3em 0.1em 0.3em 0.1em;
    font-size: 0.91em;
    border-radius: 0em 0.5em 0.5em 0;
    
}

.IngBtn:hover{
    cursor: pointer;
}

.IngBoxList{
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    margin-top: 0.2em;
}

.IngItemOnList{
    padding: 0.1em;
    background-color: var(--Second-Color);
    color: var(--Stand-Color);

    display: flex;
    align-items: center;

    margin-right: 0.2em;
    margin-top: 0.2em;
}

.IngItemOnList > p{
    max-width: 50px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.RemoveItemList{
    padding-left: 0.2em;
    color: var(--Stand-Color);
}

.RemoveItemList:hover{
    cursor: pointer;
}
/*/\ -------- EditPage ------------- /\*/